/* -----------------------------------------------------------
#META
----------------------------------------------------------- */

* {
    padding: 0;
    margin: 0;
    list-style: none;
    color: white;
    text-decoration: none;
}

@font-face {
    font-family: 'Herr';
    src: url('HerrVonMuellerhoff-Regular.ttf');   
}

/* -----------------------------------------------------------
#HEADER
----------------------------------------------------------- */

header {
    justify-content: space-between;
    background-color: rgb(28, 39, 51);
    height: 70px;
    display: flex;
    border-bottom: 1px solid whitesmoke;
}

.logo {
    padding-left: 2vw;
    display: flex;
    align-items: center;
}

.logo>q {
    padding-left: 18px;
    align-items: top;
}

nav {
    display: flex;
    align-items: center;
}

nav>ul {
    display: flex;
    justify-content: flex-end;
}

nav>ul>li {
    padding-right: 32px;
}

.fixed {
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: rgb(44, 99, 216);
    display: inline;
    padding-top: 2px;
    padding-bottom: 1px;
}

/* -----------------------------------------------------------
#PRESENTATION
----------------------------------------------------------- */

#background {
    height: calc(100vh - 70px);
    background-image: url("accueil.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid whitesmoke;
}

h2 {
    font-family: 'Herr';
    font-size: 60px;
    text-align: center;
    font-weight: lighter;
    letter-spacing: 10px;
}

#presentation {
  padding: 70px;
  width: 680px;
  margin: auto;
  transition: all 1.2s ease-in-out;
    -webkit-transition: all 1.2s ease-in-out;
    -moz-transition: all 1.2s ease-in-out;
    -ms-transition: all 1.2s ease-in-out;
}

#presentation>p {
    line-height: 1.6em;    
}

/* -----------------------------------------------------------
#PRODUITS
----------------------------------------------------------- */

#produits {
    max-height: 100%;
    background-color: rgb(28, 39, 51);
}

#produits>h2 {
    padding: 40px;
}

#conteneur {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    width: 70%; 
    margin: auto;
    background-color: rgba(0, 0, 0, 0.493);
    border-radius: 4px;
}

#conteneur>article {
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.image-produit {
    height: 300px;
    width: 400px;
    border-radius: 4px;
    box-shadow: rgb(122, 199, 243) 0 1px 8px;
}

/* -----------------------------------------------------------
#ENGAGEMENTS
----------------------------------------------------------- */

#engagements {
    background-color: rgb(28, 39, 51);
    text-align: center;
}

#engagements>h2 {
    padding-top: 60px;
    padding-bottom: 40px;
}

#qht>article {
    display: inline-block;
    width: 30vw;
    line-height: 1.6em;
}

#qht>article>h3 {
    padding-bottom: 16px;
}

#qht>article>p {
    text-align: start;
}

#picto {
    padding-top: 60px;
    padding-bottom: 20px;
}

/* -----------------------------------------------------------
#CLIENTS
----------------------------------------------------------- */

#clients {
    background-color: rgb(28, 39, 51);
    padding-bottom: 40px;
    text-align: center;
    border-bottom: 1px solid whitesmoke;
}

#clients>p {
    padding: 20px;
}

#clients>h2 {
    padding-top: 60px;    
}

.restaurant {
    margin: auto;
    display: flex;
    justify-content:space-between;
}

.img-restaurant {
    max-height: 480px;
    max-width: 90%;
    border: 1px solid whitesmoke;
}

/* -----------------------------------------------------------
#CONTACTS + FORM
----------------------------------------------------------- */

#contacts {
    background-color: #232f48;
    text-align: center;
    font-size: 0.9em;
    padding-bottom: 20px;
}

#contacts>h2 {
    padding-top: 40px;
    padding-bottom: 40px;
}

form {
    width: 600px;
    margin: auto;
    padding-top: 8px;
    padding-bottom: 40px;
}

input {
    width: 570px;
    height: 50px;
    background: transparent;
    padding: 0px 15px 0px 15px;
    border: 1px solid whitesmoke;
    border-bottom: none;
    font-family: inherit;
    font-size: 0.9em;
}

input:hover , textarea:hover {
    color: black;
    background: rgba(166, 219, 240, 0.815);  
}

input:focus, textarea:focus{
    outline: none;
}

input::placeholder, textarea::placeholder {
    color: whitesmoke;
    font-size: 0.8em;
}

textarea {
    width: 570px;
    background: transparent;
    padding: 15px;
    border: 1px solid whitesmoke;
    font-family: inherit;
    font-size: 0.9em;
}

button {
    width: 602px;
    height: 50px;
    background: transparent;
    border: solid 1px whitesmoke;
    font-family: inherit;
}

button:hover {
    color: black;
    font-weight: bolder;
    background: rgba(166, 219, 240, 0.815);
}

.GtaFraicheUp {
    width: 40vw; 
}

/* -----------------------------------------------------------
#FOOTER
----------------------------------------------------------- */

footer {
    background-color: rgb(44, 99, 216);;
    text-align: right;
    padding-right: 20px;
}

/* ----------------------------------------------------------------------------------------------------------
#RESPONSIVE #RESPONSIVE #RESPONSIVE #RESPONSIVE #RESPONSIVE #RESPONSIVE #RESPONSIVE #RESPONSIVE #RESPONSIVE
----------------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 1060px) {
    /* responsive START */
   header {
       display: flex;
       flex-direction: column;
       justify-content: center;
       height: 10vh;
   }

   q {
       display: none;
   }

   p {
        font-size: 13px;    
   }

   h2 {
       font-size: 40px;
   }

   .logo {
        padding-left: 0;
        margin: auto;
        padding-top: 2px;
    }

    .logo>img {
        height: 23px;
    }

    nav>ul {
        display: flex;
        justify-content: space-between;
        margin: auto;
        font-size: 13px;
        padding-bottom: 8px;
        min-width: 96%;
    }

    nav>ul>li {
        padding-right: 6px;
        padding-left: 6px;
    }

    #background {
        height: 90vh;
    }

    #presentation {
        padding: 10px;
        max-width: 90vw;
    }

    #conteneur {
        width: 90vw; 
    }
    
    #conteneur>article {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .image-produit {
        height: 90px;
        width: 120px;
    }

    #conteneur>p>i {
        display: none;
    }

    .logo-texte {
        height: 14px;
    }

    #picto>img {
        width: 97vw;
    }

    #qht>article {
        display: block;
        width: 90vw;
        margin: auto;
        padding-bottom: 20px;
    }

    #qht>article>p>img {
        height: 10px;
    }

    #restaurant>article>p>small {
        font-size: 9px;
    }

    form {
        width: 300px;
    }

    input {
        width: 270px;
        height: 30px;
        font-size: 12px;
    }

    textarea {
        width: 270px;
        max-width: 270px;
        font-size: 12px;
    }

    button {
        width: 302px;
        height: 30px;
        font-size: 12px;    
    }

    .GtaFraicheUp {
        width: 70vw;        
    }
    /* responsive END */
}
